AgenteDocumentacion.json
{
  "name": "DocUtb",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2bd0a732-dcff-4c6d-a700-520541a191bd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { filePath: \"/files/Reglamento-Estudiantil-UTB-2024.pdf\" } },\n  { json: { filePath: \"/files/MANUAL-IDENTIDAD-UTB.pdf\" } },\n  { json: { filePath: \"/files/Manual-de-Procedimientos.pdf\" } },\n  { json: { filePath: \"/files/manual_para_la_gestion_curricular_de_programas_academicos_1.pdf\" } },\n  { json: { filePath: \"/files/Manual-Integral-AULA-TECH.pdf\" } },\n  { json: { filePath: \"/files/pr-d.bui-01_manual_de_salidas_institucionales_0.pdf\" } },\n  { json: { filePath: \"/files/Reglamento_Estudiantil_pregrado_-_Nov_2012_0.pdf\" } },\n  { json: { filePath: \"/files/reglamento_organico_2019.pdf\" } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "aeb4f218-e4e0-48b7-b29f-1bc1b805bd5d",
      "name": "Code"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "a1adc3a4-3d78-47a5-9ef7-42d76fc8cb00",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const CHUNK_SIZE = 800;     \nconst OVERLAP    = 100;     \n\nconst out = [];\n\nfor (const item of items) {\n  // 👇 Aquí solo usamos el campo correcto\n  const text = item.json.text || '';\n\n  if (!text) {\n    out.push({\n      json: {\n        error: 'No se encontró texto en este item. Revisa que Extract from File -> Convert to Text devuelva text.',\n        availableKeys: Object.keys(item.json),\n      },\n    });\n    continue;\n  }\n\n  const source = item.json.filePath || item.json.fileName || null;\n\n  const step = Math.max(1, CHUNK_SIZE - OVERLAP);\n  let index = 0;\n  for (let i = 0; i < text.length; i += step) {\n    const chunk = text.slice(i, i + CHUNK_SIZE);\n    out.push({\n      json: {\n        chunk,\n        chunk_index: index++,\n        start_char: i,\n        end_char: i + chunk.length,\n        source,\n      },\n    });\n    if (i + CHUNK_SIZE >= text.length) break;\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        560
      ],
      "id": "66b50bf6-5990-4a80-95c9-91a98d1df841",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "b12ada43-7b29-4d77-bbd9-eb678544f2c7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "Documentos",
          "mode": "list",
          "cachedResultName": "Documentos"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "7acb5137-4787-4945-8540-3ec6d5f10a7f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "xHrhNgvHrBHmObux",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        192
      ],
      "id": "8f9f4c1d-23e4-4f8c-8afa-067d46702839",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        768,
        192
      ],
      "id": "904561a5-8302-40b2-9a18-055772d846d9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "LslmzyNF2vDVr9b3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responde a la pregunta del usuario usando únicamente la información que obtengas de las herramientas disponibles.\nSi no encuentras información suficiente, responde \"No encontré información en los documentos\".\nPregunta del usuario: {{ $json.chatInput }}\n",
        "options": {
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        560
      ],
      "id": "b746d47a-aaa2-4e52-8672-402c6e6bbd6b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        752
      ],
      "id": "bce0804b-b1e3-4c5d-81f3-d5d8efc6e7fb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ADh8RHBomNHdXCtC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        560
      ],
      "id": "5be71188-4993-4fc8-9caf-368e18bccbb9",
      "name": "When chat message received",
      "webhookId": "fd5fadb0-53e6-4c52-ab97-e8a755417c90"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        752
      ],
      "id": "8e9c6ddd-4f9b-4112-9ccb-44fb883f25ac",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "=Responder las pregunta:{{ $json.chatInput }}\nBuscando informacion relacionada en los vectores\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1008,
        544
      ],
      "id": "65493262-5a53-4ae4-a893-8afe25dc8fad",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca informacion relacionada con la pregunta del usuario y daselo al ai agent para que responda",
        "qdrantCollection": {
          "__rl": true,
          "value": "Documentos",
          "mode": "list",
          "cachedResultName": "Documentos"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        464,
        672
      ],
      "id": "45e908ac-635e-4132-b1bc-005424466a8b",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "xHrhNgvHrBHmObux",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -992,
        704
      ],
      "id": "94889877-ef76-4641-8b80-2c6dd9d7e838",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "ADh8RHBomNHdXCtC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        464,
        816
      ],
      "id": "66e3aac8-d05c-4539-ac52-170f07ef9b7c",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "LslmzyNF2vDVr9b3",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        []
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f184e531-d06d-4fd0-a15c-b5411254713d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1dafbb001b27939be830268b32af3563fef1d5852fb52c7933f9d98b625fb63"
  },
  "id": "X3QCsLHZIMxoHRzA",
  "tags": []
}